{:deps
 {io.github.bobschrag/clolog {:git/tag "v0.2.8" :git/sha "76fb44f"}
  riddley/riddley {:mvn/version "0.2.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
